@{
    ViewData["Title"] = "科目管理";
}
<!-- demo root element -->
<div id="subject_list">
    <div class="searcher">
        <span>
            关键词：
            <i-input v-model="queries.keyword" placeholder="科目名称" style="width: 250px"></i-input>
        </span>
        <span>
            状态：
            <i-select v-model="queries.status" style="width: 100px">
                <i-option value="" key="">全部</i-option>
                <i-option v-for="item in subjectStatus" v-cloak :value="item.value" :key="item.value">{{ item.text }}</i-option>
            </i-select>
        </span>
        <span>
            <i-button type="primary" icon="ios-search" v-on:click="search">搜索</i-button>
        </span>
    </div>
    <i-table :columns="gridColumns" :data="gridData"></i-table>
    <Page class-name="pager" :total="queries.total" :current="queries.p" :page-size="queries.size"  v-on:on-change="pagerChanged" show-total>

    </Page>

    <Modal v-model="isShowAdd" width="360" :loading="showLoading" v-on:on-ok="onSave">
        <p slot="header" style="text-align: center">
            <span>新增科目</span>
        </p>
        <div style="text-align: center">
            <i-input type="text" placeholder="请输入科目名称" v-model="editSubject.Name"></i-input>
        </div>
    </Modal>
</div>

@section title_actions{
    <i-button type="success" v-on:click="goAdd">新增</i-button>
}

@section page_script{
    <script>
        var vm = new Vue({
            el: '#content',
            data: {
                queries: {},
                subjectStatus: SubjectStatus.items,
                gridColumns: [
                    {
                        key: 'Name',
                        title: '名称'
                    },
                    { key: 'Count', title: '课程数' },
                    {
                        key: 'Status',
                        title: '状态',
                        render(h, params) {
                            return SubjectStatus.getItem(params.row.Status);
                        }
                    },
                    {
                        key: 'CreateTime',
                        title: '创建时间',
                        render(h, params) {
                            return new Date(Date.parse(params.row.CreateTime)).format('yyyy-MM-dd hh:mm:ss');
                        }
                    },
                    {
                        key: 'actions',
                        title: '操作',
                        width: 200,
                        render(h, params) {
                            return h('p',
                                [
                                    h('i-button',
                                        {
                                            props: {
                                                type: 'primary',
                                                size: 'small'
                                            },
                                            style: {
                                                marginRight: '5px'
                                            },
                                            on: {
                                                click: () => {
                                                    vm.goEdit(params.row);
                                                }
                                            }
                                        },
                                        '编辑'),
                                    h('i-button',
                                        {
                                            props: {
                                                type: 'error',
                                                size: 'small'
											},
											style: {
												marginRight: '5px'
											},
                                            on: {
                                                click: () => {
                                                    vm.setStatus(params.index);
                                                }
                                            }
                                        },
                                        params.row.Status == SubjectStatus.ENABLED.value
                                        ? SubjectStatus.DISABLED.text
                                        : SubjectStatus.ENABLED.text),
                                    h('i-button',
                                        {
                                            props: {
                                                type: 'primary',
                                                size: 'small'
                                            },
                                            on: {
                                                click: () => {
                                                    vm.onDelte(params.row.SubjectId);
                                                }
                                            }
                                        },
                                        '删除')
                                ]);
                        }
                    }
                ],
                gridData: [],
                isShowAdd: false, //是否显示新增对话框
                showLoading: false, //保存时是否显示加载条
                editSubject: { //添加或编辑的科目
                    Name: ''
                }
            },
			created: function () {
				this.loadQueries();
                this.loadData();
            },
            methods: {
                /**
				 * 加载筛选条件
				 */
				loadQueries() {
					let pageIndex,
						status;

					pageIndex =@(Html.Raw("'" + Html.ViewContext.HttpContext.Request.Query["p"] + "'"));
					pageIndex = isNaN(pageIndex) ? 1 : Number(pageIndex);
					if (pageIndex < 1) pageIndex = 1;

					status =@(Html.Raw("'" + Html.ViewContext.HttpContext.Request.Query["status"] + "'"));
					if (status != "" && !isNaN(status)) status = Number(status);

					this.queries["p"] = pageIndex;
					this.queries["size"] = 15;
					this.queries["keyword"] = @(Html.Raw("'" + Html.ViewContext.HttpContext.Request.Query["keyword"] + "'"));
					this.queries["status"] = status;
				},
				/**
				 * 分页页码改变回调事件
				 * @@param {number} current 当前页码
				 */
				pagerChanged(current) {
					this.queries["p"] = current;
					reload.call(this);
				},
				/**
                 * 搜索
                */
				search() {
					this.queries["p"] = 1;
					this.queries["total"] = 0;
					reload.call(this);
				},
                /**
                 * 加载数据，会自动从queries中解析搜索的参数
                 */
                loadData() {
					const postData = {
						keyword: this.queries.keyword,
						status: this.queries.status,
						pageindex: this.queries.p,
						pagesize: this.queries.size
					};

                    Ajax.post({
                        url: "/api/subjects/search",
                        data: postData,
                        success: (response) => {
                            var data = response.data;
							if (!data.Error) {
								const pager = data.Data;
								this.gridData = pager.Table;

								this.queries["total"] = pager.Count;
							} else {
								apiError(data.Code);
							}
                        }
                    });
                },
                /**
                 * 跳转到新增用户页面
                 */
                goAdd() {
                    this.editSubject = {
                        SubjectId: 0,
                        Name: ''
                    };
                    this.isShowAdd = true;
                },
                /**
                 * 根据数据项所在索引跳转到编辑页
                 */
                goEdit(subject) {
                    this.editSubject = {
                        SubjectId: subject.SubjectId,
                        Name: subject.Name
                    };
                    this.isShowAdd = true;
                },
                /**
                 * 根据数据项所在索引设置对应的相反状态
                 */
                setStatus(index) {
                    //操作
                    let action, nextStatus;
                    var item = this.gridData[index];

                    //如果当前用户状态为“启用”，则将改变为“禁用”,反之则改变为“启用”状态
                    if (item.Status == SubjectStatus.ENABLED) {
                        action = 'setdisable';
                        nextStatus = SubjectStatus.DISABLED;
                    } else {
                        action = 'setenable';
                        nextStatus = SubjectStatus.ENABLED;
                    }

                    Ajax.post({
                        url: `/api/subjects/${action}`,
                        data: { id: item.SubjectId },
                        success: (response) => {
                            var data = response.data;
                            if (!data.Error) {
                                item.Status = nextStatus.toString('d');
                            } else {
                                this.$Message.error(data.Message);
                            }
                        },
                        error: (error) => {
                            this.$Message.error('操作失败，请重试！');
                        }
                    });
                },
                onSave() {
                    if (!this.editSubject)
                        return;

                    if (!this.editSubject.Name || this.editSubject.Name.length == 0) {
                        this.$Message.error('请输入科目名称');
                        return;
                    }

                    this.showLoading = true;


                    // 编辑
                    if (this.editSubject.SubjectId > 0)
                        this.updateSubject();
                    else
                        this.addSubject(); //新增
                },

                //添加科目
                addSubject() {
                    Ajax.post({
                        url: '/api/subjects/add',
                        data: this.editSubject,
                        success: (response) => {
                            this.isShowAdd = false;
                            var data = response.data;
                            if (!data.Error) {
                                this.$Message.success('添加成功！');
                                this.loadData();
                            } else
                                this.$Message.error(data.Message);
                        },
                        error: (error) => {
                            this.$Message.error('操作失败，请重试！');
                        }
                    });
                },
                // 更新科目
                updateSubject() {
                    Ajax.post({
                        url: '/api/subjects/rename',
                        data: { id: this.editSubject.SubjectId, newName: this.editSubject.Name },
                        success: (response) => {
                            this.isShowAdd = false;
                            var data = response.data;
                            if (!data.Error) {
                                this.$Message.success('修改成功！');
                                this.loadData();
                            } else
                                this.$Message.error(data.Message);
                        },
                        error: (error) => {
                            this.$Message.error('操作失败，请重试！');
                        }
                    });
                },

                // 删除点击事件
                onDelte(subjectId) {
                    this.$Modal.confirm({
                        title: '系统提示',
                        content: '确认要删除该科目吗?',
                        onOk: () => {
                            this.deleteSubject(subjectId);
                        },
                        onCancel: () => {
                        }
                    });
                },
                // 删除科目
                deleteSubject(subjectId) {
                    Ajax.post({
                        url: '/api/subjects/delete',
                        data: { id: subjectId },
                        success: (response) => {
                            var data = response.data;
                            if (!data.Error) {
                                this.$Message.success('删除成功！');
                                this.loadData();
                            } else
                                this.$Message.error(data.Message);
                        },
                        error: (error) => {
                            this.$Message.error('操作失败，请重试！');
                        }
                    });
                }
            }
        });
    </script>
}