@{
	ViewData["Title"] = "用户管理";
}
<!-- demo root element -->
<div id="user_list">
	<i-table :columns="gridColumns" :data="gridData"></i-table>
</div>

@section page_script{
	<script>

		//var sortBy = new Enum({
		//	LOGIN_COUNT_ASC{

		//	}
		//});

		new Vue({
			el: '#user_list',
			data: {
				searchQuery: {},
				gridColumns: [
					{ key: 'username', title: '用户名' },
					{ key: 'email', title: '邮箱' },
					{ key: 'mobile', title: '手机号' },
					{ key: 'name', title: '姓名' },
					{ key: 'title', title: '头衔' },
					{ key: 'status', title: '状态' },
					{ key: 'loginCount', title: '登录次数' },
					{ key: 'createTime', title: '注册时间' },
					{ key: 'lastTime', title: '最后登录时间' }
				],
				gridData: []
			},
			created: function () {
				this.searchQuery['pageindex'] = 1;
				this.searchQuery['pagesize'] = 15;
				this.searchQuery['keyword'] = '';
				this.searchQuery['status'] = '';
				this.loadData();
			},
			methods: {
				search: function (query) {
					this.searchQuery = query || {};
					this.loadData();
				},
				loadData: function () {
					var _this = this;
					var pagesize = _this.searchQuery.pagesize || 15,
						pageindex = _this.searchQuery.pageindex || 1,
						keyword = _this.searchQuery.keyword || '',
						status = _this.searchQuery.status || '';

					var postData = { keyword: keyword, status: status, pageindex: pageindex, pagesize: pagesize };

					axios({
						method: 'post', url: "/api/user/search", data: postData,
						transformRequest: [function (data) {
							let ret = ''
							for (let it in data) {
								ret += encodeURIComponent(it) + '=' + encodeURIComponent(data[it]) + '&'
							}
							return ret
						}]
					}).then(function (response) {
						var data = response.data;
						if (!data.error) {
							_this.gridData = data.data.table;
						}
					}).catch(function (error) {

					});
				}
			}
		});

	</script>
}