
@{
    ViewData["Title"] = "学习计划详情";
}

<template v-if="hasAccess && details!=null">
    <dl class="dl-label-w100 mt30">
        <dd>标题</dd>
        <dt>{{ details.Title }}</dt>
        <dd>创建者</dd>
        <dt>{{ details.UserName }}</dt>
        <dd>创建时间</dd>
        <dt>
            {{ new Date(Date.parse(details.CreateTime)).format('yyyy-MM-dd hh:mm:ss') }}
        </dt>
        <dd>状态</dd>
        <dt>
            {{ StudyPlanStatus.getItem(details.Status).toString('text') }}
        </dt>
        <dd>说明</dd>
        <dt>{{ details.Content }}</dt>
        <dd>课程</dd>
        <dt>
            <i-table :columns="courseColumns" :data="details.Courses"></i-table>
        </dt>
        <dd>学员</dd>
        <dt>
            <i-table :columns="studentColumns" :data="details.Students"></i-table>
        </dt>
    </dl>
</template>
<template v-if="!hasAccess">
    <p class="error-tip">无访问权限</p>
</template>

@section title_actions{
    <i-button type="success" v-on:click="goList">返回列表</i-button>
}

@section page_script{
    <script>
		var vm = new Vue({
			el: '#content',
            data: {
				//是否有访问权限
                hasAccess: true,
                //课程展示字段
                courseColumns: [
                    { title: 'NO.', key: "Sort", width:80},
                    { title: '课程', key: 'Title' },
                    { title: '说明', key: 'Remarks' },
                    {
                        key: 'actions',
                        title: '操作',
                        width: 100,
                        render(h, params) {
                            return h('i-button', {
                                props: {
                                    type: 'primary',
                                    size: 'small'
                                },
                                on: {
                                    click: () => {
                                        vm.goCourseDetails(params.row.CourseId);
                                    }
                                }
                            }, '查看')
                        }
                    }
                ],
                //学员展示字段
                studentColumns: [
                    { title: '学员名', key: 'Username' },
                    { title: '邮箱', key: 'Email' },
                    { title: '手机号', key: 'Mobile' },
                    { title: '头衔', key: 'Title' },
                    {
                        title: '学习进度', key: 'Progress',
                        render(h, params) {
                            return (params.row.Progress * 100) + '%';
                        }
                    },
                    {
                        key: 'actions',
                        title: '操作',
                        width: 100,
                        render(h, params) {
                            return h('i-button', {
                                props: {
                                    type: 'primary',
                                    size: 'small'
                                },
                                on: {
                                    click: () => {
                                        vm.goStudentPlanDetails(params.row.UserId);
                                    }
                                }
                            }, '查看')
                        }
                    }
                ],
				//详细信息内容结构
				details: {
					PlanId: 0,
					UserId: 0,
					UserName: '用户名',
					Title: '我是学习计划标题',
					Content: '我是学习计划内容',
					StudentCount: 0,
					Status: 1,
					CreateTime: '2017-08-18 12:30:30',
					Courses: [
						{
							CourseId: 0,
							SubjectId: 0,
							Title: '课程标题',
							Image: '/img/course/123.jpg',
							Remarks: '课程说明',
							Content: '课程内容',
							Objective: '课程学习目标',
							Status: 1,
							Sort: 1
						}
					],
					Students: [
						{
							UserId: 0,
							Username: '学员姓名',
							Email: 'jonfeee@qq.com',
							Mobile: '15920001111',
							Name: '姓名',
							Title: '头衔',
							StudyStatus: 1,
							Progress: 0,
							LastStudyTime: ''
						}
					]
				}
			},
			mounted() {
				//当前查看的学习计划ID
				this.details.PlanId = @(Html.Raw("'" + Html.ViewContext.RouteData.Values["id"] + "'"));

				// 获取学习计划详细信息
				this.getDetails();
			},
            methods: {
                // 返回列表
                goList() {
                    location = "/studyplan/index";
                },
                /**
                 * 获取学员信息
                 * @@param {String} email 邮箱
                 * @@param {String} mobile 手机号
                 */
                getStudentInfo(email, mobile) {
                    return '邮箱：' + email + ' 手机：' + mobile;
                },
                /**
                 * 跳转到学习计划的学员详细信息页链接
                 * @@param {Number} userId 学员用户ID
                 */
                goStudentPlanDetails(userId) {
                    var url = '/studyplan/student?studentid=' + userId + '&planid=' + this.details.PlanId;
                    location = url;
                },
                 /**
                 * 跳转到课程详细信息页
                 * @@param {Number}  courseId 课程ID
                 */
                goCourseDetails(courseId) {
                    var url = '/course/details/' + courseId;
                    location = url;
                },
				/**
				 * 获取学习计划详细信息
				 */
                getDetails() {
                    var _this = this;
					Ajax.get({
                        url: '/api/studyplan/details/' + this.details.PlanId,
                        success: (response) => {
							var data = response.data;
							if (!data.Error) {
								this.details = data.Data;
							} else {
								this.details == null;
                                this.$Message.error(data.Message);

                                //权限不足
                                if (data.Code === ApiResult.NO_ACCESS.toString("name")) {
                                    _this.hasAccess = false;
                                }
							}
						},
                        error: (error) => {
							this.details == null;
							this.$Message.error('请求数据失败，请重试！');
						}
					});
				}
			}
		});
    </script>
}

