
@{
    ViewData["Title"] = "学员学习情况";
}

<template v-if="hasAccess && details!=null">
    <div class="info-box">
        <div class="info-title indent-10">学员信息</div>
        <dl class="dl-label-w100 mt30">
            <dd>用户名</dd>
            <dt>{{ details.Student.Username}}</dt>
            <dd>姓名</dd>
            <dt>{{ details.Student.Name}}</dt>
            <dd>头衔</dd>
            <dt>{{ details.Student.Title}}</dt>
            <dd>邮箱</dd>
            <dt>{{ details.Student.Email}}</dt>
            <dd>手机号</dd>
            <dt>{{ details.Student.Mobile}}</dt>
            <dd>学习状态</dd>
            <dt>{{ StudyStatus.getItem(details.Student.StudyStatus).toString('text') }}</dt>
            <dd>学习进度</dd>
            <dt style="text-indent:10px;">
                <i-progress :percent="details.Student.Progress*100"></i-progress>
            </dt>
        </dl>
    </div>
    <div class="info-box">
        <div class="info-title indent-10">学习计划内容</div>
        <dl class="dl-label-w100 mt30">
            <dd>标题</dd>
            <dt>{{ details.Title }}</dt>
            <dd>创建者</dd>
            <dt>{{ details.CreatorUserName }}</dt>
            <dd>创建时间</dd>
            <dt>
                {{ new Date(Date.parse(details.CreateTime)).format('yyyy-MM-dd hh:mm:ss') }}
            </dt>
            <dd>状态</dd>
            <dt>
                {{ StudyPlanStatus.getItem(details.Status).toString('text') }}
            </dt>
            <dd>说明</dd>
            <dt>{{ details.Content }}</dt>
            <dd>课程</dd>
            <dt>
                <ul class="ul-link">
                    <li v-for="course in details.Courses" :title="course.Objective">{{ course.Title }}</li>
                </ul>
            </dt>
        </dl>
    </div>
</template>
<template v-if="!hasAccess">
    <p class="error-tip">无访问权限</p>
</template>

@section title_actions{
    <i-button type="success" v-on:click="goBack">返回</i-button>
}

@section page_script{
    <script>
		var vm = new Vue({
			el: '#content',
			data: {
				//是否有访问权限
				hasAccess: true,
				//详细信息内容结构
				details: {
					PlanId: 0,
					CreatorUserId: 0,
					CreatorUserName: '用户名',
					Title: '我是学习计划标题',
					Content: '我是学习计划内容',
					StudentCount: 0,
					Status: 1,
					CreateTime: '2017-08-18 12:30:30',
					Courses: [
						{
							CourseId: 0,
							SubjectId: 0,
							Title: '课程标题',
							Image: '/img/course/123.jpg',
							Remarks: '课程说明',
							Content: '课程内容',
							Objective: '课程学习目标',
							Status: 1,
							Sort: 1
						}
					],
					Student: {
						UserId: 0,
						Username: '学员姓名',
						Email: 'jonfeee@qq.com',
						Mobile: '15920001111',
						Name: '姓名',
						Title: '头衔',
						StudyStatus: 1,
						Progress: 0,
						LastStudyTime: ''
					}
				}
			},
			mounted() {
				//当前查看的学习计划ID
                this.details.PlanId = @(Html.Raw("'" + Html.ViewContext.HttpContext.Request.Query["planId"] + "'"));
                //当前查看的学习计划学员ID
                this.details.Student.UserId = @(Html.Raw("'" + Html.ViewContext.HttpContext.Request.Query["studentId"] + "'"));

				// 获取学习计划详细信息
				this.getDetails();
			},
            methods: {
                // 返回学习计划
                goBack() {
                    location = "/studyplan/details/" + this.details.PlanId;
                },
				/**
				 * 获取学习计划详细信息
				 */
                getDetails() {
                    var _this = this;
                    Ajax.get({
                        url: '/api/studyplan/studingdetails',
                        params: { planId: this.details.PlanId, studentId: this.details.Student.UserId },
                        success: (response) => {
                            var data = response.data;
                            console.log(data);
							if (!data.Error) {
								this.details = data.Data;
							} else {
								this.details == null;
                                this.$Message.error(data.Message);

                                //权限不足
                                if (data.Code === ApiResult.NO_ACCESS.toString("name")) {
                                    _this.hasAccess = false;
                                }
							}
						},
                        error: (error) => {
							this.details == null;
							this.$Message.error('请求数据失败，请重试！');
						}
					});
				}
			}
		});
    </script>
}
