@charset "UTF-8";
/****颜色****/
.answer-options {
  position: relative;
  margin-bottom: 20px;
  padding-top: 4px; }
  .answer-options > label {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    line-height: 32px;
    color: #999; }
  .answer-options .tab-list {
    display: block;
    max-width: 800px;
    padding-left: 0; }
    .answer-options .tab-list li {
      position: relative;
      float: left;
      display: block;
      list-style: none;
      width: 145px;
      margin: 1px; }
      .answer-options .tab-list li .ivu-input-wrapper {
        line-height: 15px; }
      .answer-options .tab-list li .ivu-input {
        border: 0;
        box-shadow: none;
        padding: 0;
        margin: 0;
        height: 15px; }
      .answer-options .tab-list li.add {
        height: 100%;
        width: 40px;
        border-right: 0;
        margin-top: -1px; }
        .answer-options .tab-list li.add a {
          display: block;
          vertical-align: middle;
          width: 30px;
          height: 100%;
          line-height: 99px;
          color: #39F;
          border-radius: 0;
          padding: 0;
          font-size: 18px;
          text-align: center;
          background-color: #fff;
          border: 1px solid #EDF0F5; }
          .answer-options .tab-list li.add a:active {
            background-color: #F7F7F7; }
      .answer-options .tab-list li > span {
        display: block;
        height: 34px;
        padding: 0 10px;
        margin-top: -1px;
        font-size: 13px;
        line-height: 32px;
        border: 1px solid #EDF0F5;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .answer-options .tab-list li:hover > .ivu-btn-text {
        display: block; }
    .answer-options .tab-list .remark {
      position: absolute;
      width: 200px;
      line-height: 24px;
      display: block; }
    .answer-options .tab-list .ivu-btn-text {
      position: absolute;
      display: none;
      right: -20px;
      top: -18px;
      z-index: 9; }
    .answer-options .tab-list .ivu-icon-close-circled {
      font-size: 22px;
      color: rgba(0, 0, 0, 0.7); }
      .answer-options .tab-list .ivu-icon-close-circled:hover {
        color: #FF4F4F; }
    .answer-options .tab-list:after {
      content: "";
      display: block;
      clear: both; }
  .answer-options .disabled li > span {
    background: #EDF0F5;
    color: #ccc; }

